.language-card {
    text-align: center;
    width: calc(100% / 4 - 20px);
    margin: 20px 10px;
    background-color: #f1f1f1;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 5px;
    padding: 15px;
    transition: all 0.3s;
    user-select: none;
} .language-card:hover {
    transform: scale(1.04);
}

.language-card p {
    padding: 20px 0px 50px 0px;
}

.language-card img {
    display: block;
    width: 150px;
    margin: 0 auto;
}